.contenidoHeader {
    padding-top: 10px;
    background-color: transparent;
    display: flex;
    position: "sticky";
    top: 0;
    justify-content: flex-end;
    z-index: 2;
}
.headerContent{
    background-color: rgba(0, 0, 0);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.contenidoHeader nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contenidoHeader ul{
    margin: 0px;
    padding: 20px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    gap: 70px;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 0, 0);
}

.contenidoHeader ul li{
    border-bottom: 2px solid transparent;
}
.contenidoHeader ul li:hover {
    font-weight: bolder;
    
    scale: 1.1;
}

.progressBar{
    background-color: rgb(58, 58, 58);
    height: 10px;
    z-index: 2;
}

.liS button{
    background-color: transparent;
    color: white;
    border: 0px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
}
.liS button:hover{
    font-weight: bolder;
    scale: 1.1;
}

@media screen and (max-width: 1500px) {
    .contenidoHeader {
        padding-top: 10px;
        background-color: transparent;
        display: flex;
        position: "sticky";
        top: 0;
        justify-content: end;
        z-index: 2;
    }
    .contenidoHeader nav{
        display: flex;
        justify-content: end;
        width: 60%;
        padding-right: 50px;
    }
    .contenidoHeader ul{
        width: 70%;
        display: flex;
        justify-content: space-around;
        gap: 15px;
        
    }
    .contenidoHeader ul li{
        font-size: 14px;
    }
    .liS button{
        font-size: 14px;
    }
}

@media screen and (max-width: 930px) {
    .contenidoHeader {
        padding-top: 10px;
        background-color: transparent;
        display: flex;
        position: "sticky";
        top: 0;
        justify-content: center;
        z-index: 2;
    }
    .contenidoHeader nav{
        height: 55px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 0px;
    }
    .contenidoHeader ul{
        width: 60%;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 0px;
    }
    .contenidoHeader ul li{
        font-size: 11px;
    }
    .liS button{
        font-size: 11px;
    }
}
@media screen and (max-width: 450px) {
    .contenidoHeader {
        padding-top: 10px;
        background-color: transparent;
        display: flex;
        position: "sticky";
        top: 0;
        justify-content: center;
        z-index: 2;
    }
    .contenidoHeader nav{
        height: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 0px;
    }
    .contenidoHeader ul{
        width: 80%;
        display: flex;
        justify-content: space-around;
        gap: 5px;
        padding: 0px;
    }
    .contenidoHeader ul li{
        font-size: 7px;
    }
    .liS button{
        font-size: 7px;
    }
}