

.proy{
    display: inline-block;
    margin-left: 225px;
    margin-bottom: 60px;
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.contenedorProyectos{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    padding-top: 0px;
    margin: 0px 70px;
    flex-wrap: wrap;
    gap: 100px;
}

.proyectoIndividual{
    width: 360px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.proyectoIndividual p{
    margin: 0px;
    padding: 5px 0px 10px 5px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 13px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.boxImage{
    width: 80%;
    height: 150px;
    background-color: rgb(218, 218, 218);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.boxImage.spoticopy{
    background-image: url(../../assets/spoticopy.png);
    background-position: center;
    background-size: cover;
}
.boxImage.ps4{
    background-image: url(../../assets/ps4.png);
    background-position: center;
    background-size: cover;
}
.boxImage.guille{
    background-image: url(../../assets/guille.png);
    background-position: center;
    background-size: cover;
}
.boxImage.valores{
    background-image: url(../../assets/valores.png);
    background-position: center;
    background-size: cover;
}
.boxImage.rorro{
    background-image: url(../../assets/rorro.png);
    background-position: center;
    background-size: cover;
}
.boxImage.port{
    background-image: url(../../assets/portfolioimg.png);
    background-position: center;
    background-size: cover;
}

.contenedorInfo{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.tituloGit{
    padding: 5px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tituloGit h2{
    margin: 0px;
    padding: 5px 0px;
}

.iconos{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.icon{
    font-size: 35px;
    
}
.icon2{
    font-size: 30px;
    
}

.ahref{
    
        text-decoration: none;
        color: inherit; 
    
}

.link{
    width: 100%;
    height: 100%;
}

.window{
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 5px;
    font-size: 12px;
}

.desplegar{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.projectTexts {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    scrollbar-width: thin; /* Ancho más delgado de la barra de desplazamiento */
    scrollbar-color: rgb(230, 230, 230) transparent;
}


/* Estilos específicos de la barra de desplazamiento para navegadores WebKit (Chrome, Safari, Opera) */
.projectTexts::-webkit-scrollbar {
    width: 6px; /* Ancho más delgado */
}

.projectTexts::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
}

.projectTexts::-webkit-scrollbar-thumb {
    background: transparent; /* Barra transparente */
    border: none; /* Sin borde */
}

/* Estilos específicos de la barra de desplazamiento para navegadores Firefox */
.projectTexts {
    scrollbar-width: thin; /* Ancho más delgado */
}

.projectTexts::-moz-scrollbar {
    width: 6px; /* Ancho más delgado */
}

.projectTexts::-moz-scrollbar-thumb {
    background: transparent; /* Barra transparente */
    border: none; /* Sin borde */
}

.projectTexts p{
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 0px;
    font-weight: 800;
    color: rgb(92, 92, 92);
}

