

.contenedor-main{
    height: 90vh;
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/fondoBlanco.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.seccionInfo{
    color: transparent;
    width: auto;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.seccionInfo p{
    margin: 0px;
    padding: 10px 0px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.titulo{
    color: transparent;
    margin: 0px;
    font-size: 90px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.contenedorImagen{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    padding-bottom: 50px;
}

.logoImg{
    width: 100%;
}


.buttons{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px 0px;
    gap: 15px;
    font-size: 35px;
}

.buttons button{
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: solid 2px black;
    font-family: 'Space Mono', monospace;
    font-weight: bolder;
}

.buttons a{
    display: flex;
    align-items: center;
    color: transparent;
}


.buttons button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.brief{
    width: 650px;
    line-height:1.25;
    color: rgb(87, 87, 87);
    
}


@media screen and (max-width: 1500px) {
    .contenedor-main{
        height: 70vh;
        padding: 0px 40px;
        padding-left: 70px;
        display: flex;
    }
    .contenedorImagen{
        display: flex;
        justify-content: center;
        width: 90%;
        height: 300px;
        padding-bottom: 50px;
    }
    .titulo{
        
        font-size: 50px;
    }
    .brief{
        width: 88%;
        font-size: 14px;
    }
    .buttons{
        padding-top: 0px;
        font-size: 30px;
    }
    .buttons button{
        height: fit-content;
        font-size: 13px;
    }
    
}

@media screen and (max-width: 930px) {
    .contenedor-main{
        height: 50vh;
        padding: 0px 40px;
        display: flex;
    }
    .contenedorImagen{
        display: flex;
        justify-content: center;
        width: 700px;
        height: 300px;
        padding-bottom: 50px;
    }
    .titulo{
        font-size: 45px;
    }
    .brief{
        width: 85%;
        font-size: 12px;
    }
    .buttons{
        padding-top: 0px;
        font-size: 26px;
    }
    .buttons button{
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor-main{
        height: 40vh;
        padding: 0px 40px;
        display: flex;
    }
    .contenedorImagen{
        display: none;
    }
    .titulo{
        font-size: 30px;
    }
    .brief{
        width: 90%;
        font-size: 10px;
    }
    .buttons{
        padding-top: 0px;
        font-size: 25px;
    }
    .buttons button{
        font-size: 10px;
    }
}


