.footer{
    display: flex;
    justify-content: start;
    height: 430px;
    background-color: black;
    
}

.contenedorFoto{
    width: 65%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), url(../../assets/fondo.png);
    background-position: center;
    background-size: cover;
}

.formContact{
    margin-top:50px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    
}

.contacto{
    padding-left: 4%;
    background-color: rgb(0, 0, 0);
    height: 300px;
    display: flex;
    font-family: 'Bricolage Grotesque', sans-serif;
    gap: 150px;
}

.sociales{
    display: flex;
    gap: 12px;
    color: rgb(153, 153, 153);
    z-index: 2;
}

.contenedorL{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    z-index: 2;
}

.contenedorC{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    z-index: 2;
}
.contenedorL h4{
    margin: 0px;
    font-size: 28px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.contenedorC h4{
    margin: 0px;
    font-size: 28px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.camposC{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    height: 500px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.camposC h3{
    font-size: 20px;
}
.camposC input{
    height: 30px;
    border: 0px;
    padding-left: 10px;
    background-color: rgb(241, 241, 241);
}

.camposC .textArea{
    border: 0px;
    padding-left: 10px;
    background-color: rgb(241, 241, 241);
    padding-left: 10px;
    height: 270px;
    font-family: 'Bricolage Grotesque', sans-serif;
    resize: none;
    padding-top: 10px;
}
.contenedorBoton{
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.botonEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;

}
.botonEnviar2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    width: 425px;
    height: 45px;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
}


.hover {
    position: absolute;
    width: 425px;
    height: 45px;
    background-color: #000000;
    border-radius: 3px;
}

.datosSpan{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: rgb(153, 153, 153);
}

.contenedorFotoAnim{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.locationC{
    position: absolute;
}
.location{
    color: brown;
}

.stars{
    position: absolute;
    
}
.stars3{
    position: absolute;
    
}

.stars4{
    display: none;
}

@media screen and (max-width: 1500px) {

    .footer{
        display: flex;
        justify-content: center;
    }
    .contenedorFoto{
        display: none;
    }

    .formContact{
        margin-top: 30px;
        z-index: 2;
    }
    
    .contacto{
        padding-left: 0px;
        height: 270px;
        justify-content: center;
        gap: 150px;
    }

    .camposC{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 95%;
        height: 360px;
        font-family: 'Bricolage Grotesque', sans-serif;
        
    }
    .camposC .textArea{
        height: 165px;
        
    }
    .camposC h3{
        margin: 7px;
        
    }

    .contenedorL h4{
        font-size: 24px;
        
    }
    .contenedorC h4{
        font-size: 24px;
        
    }
    .datosSpan{
        font-size: 14px;
    }
    .stars3{
        display: none;
        
    }
    .contenedorForm{
        z-index: 2;
    }
    .stars4{
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }
}

@media screen and (max-width: 930px) {
    .footer{
        display: flex;
        justify-content: center;
    }
    .contenedorFoto{
        display: none;
    }

    .formContact{
        margin-top: 30px;
        width: 320px;
    }
    

    .contacto{
        height: 160px;
        gap: 10%;
        padding: 0px 15px;
    }

    .camposC{
        height: 340px;
    }
    .camposC .textArea{
        height: 145px;
        
    }
    .camposC h3{
        margin: 7px;
        
    }
    .contenedorL{
        margin-top: 70px;
        gap: 6px;
    }
    .contenedorC{
        margin-top: 70px;
        gap: 6px;
        
    }
    .contenedorL h4{
        font-size: 1rem;
        
    }
    .contenedorC h4{
        font-size: 1rem;
        
    }
    .datosSpan{
        font-size: 0.65rem;
    }
    .sociales{
        gap:5px;
    }
    .sociales .logoSocial{
        font-size: 16px;

    }
    
    .stars4{
        display: none;
        
    }
    .botonEnviar2{
        width: 303px;
        font-size: 20px;
        
    }
    .hover {
        position: absolute;
        width: 303px;
        height: 45px;
        background-color: #000000;
        border-radius: 3px;
    }
}

@media screen and (max-width: 450px) {

    .formContact{
        
        width: 250px;
    }
    

    .contacto{
        height: 130px;
        gap: 7%;
        padding: 0px 15px;
    }

    .camposC{
        height: 330px;
    }
    .camposC .textArea{
        height: 135px;
        
    }
    .camposC h3{
        margin: 5px;
        
    }
    .contenedorL{
        margin-top: 50px;
        
    }
    .contenedorC{
        margin-top: 50px;
        
        
    }
    .contenedorL h4{
        font-size: 0.7rem;
        
    }
    .contenedorC h4{
        font-size: 0.7rem;
        
    }
    .datosSpan{
        font-size: 0.5rem;
    }
    .sociales{
        gap:5px;
    }
    .sociales .logoSocial{
        font-size: 14px;

    }
    
    .stars4{
        display: none;
        
    }
    .botonEnviar2{
        width: 238px;
        font-size: 15px;
        
    }
    .hover {
        width: 238px;
        font-size: 15px;
    }
    
}
